.firebase/
hosting/.firebase/
function/.firebase/
function/cointail-7b094-firebase-adminsdk-3pysg-a82e3d1976.json

.env
function/.env
hosting/.env

node_modules/
function/node_modules/
hosting/node_modules/

hosting/dist/
hosting/ui-debug.log

package-lock.json
function/package-lock.json
hosting/package-lock.json

test-ledger/
cloud-sql-proxy