.firebase/

.env
function/.env
hosting/.env

node_modules/
function/node_modules/
hosting/node_modules/

hosting/dist/
hosting/ui-debug.log

package-lock.json
function/package-lock.json
hosting/package-lock.json

test-ledger/
cloud-sql-proxy