body {
  height: 100vh;
  background: linear-gradient(to bottom, #242424, #fac670);
}

.root {
  height: 100vh;
  padding-top: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.slds-p-around_small {
  padding: .25rem;
}

.slds-p-around_medium {
  padding: .5rem;
}

.slds-p-around_large {
  padding: .75rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 767px) {
  .root {
    padding-left: 2%;
    padding-right: 2%;
  }
}
