.header-bar {
    height: 4rem !important;
}

.slds-split-view__list-item-action {
    background-color: white !important;
}

.slds-card .slds-card {
    display: block !important;
    border: 1px solid #dddbda !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    
}

.slds-card+.slds-card {
    margin-top: 0 !important;
}