* {
    font-family: "IBM Plex Sans", "Salesforce Sans", "Helvetica" !important;
}

.header-bar {
    height: 4rem !important;
}

.slds-split-view__list-item-action {
    background-color: white !important;
}

.slds-card .slds-card {
    display: block !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
}

.slds-card+.slds-card, .slds-card__body {
    margin-top: 0px !important;
}

.slds-tabs_scoped__content {
    padding: 0 !important;
}